Wine Quality Prediction/NodeRedFlow.json
[{"id":"e321e60a.57ddc8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5904de59.5b37a","type":"inject","z":"e321e60a.57ddc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"0.2","x":100,"y":160,"wires":[["4264549d.80236c"]]},{"id":"36b454e7.e533cc","type":"function","z":"e321e60a.57ddc8","name":"Prediction","func":"var token=msg.payload.token;\nvar Alcohol = global.get(\"Alcohol\");\nvar Malic_Acid = global.get(\"Malic_Acid\");\nvar Ash = global.get(\"Ash\");\nvar Ash_Alcanity = global.get(\"Ash_Alcanity\");\nvar Magnesium = global.get(\"Magnesium\");\nvar Total_Phenols = global.get(\"Total_Phenols\");\nvar Flavanoids = global.get(\"Flavanoids\");\nvar Nonflavanoid_Phenols = global.get(\"Nonflavanoid_Phenols\");\nvar Proanthocyanins = global.get(\"Proanthocyanins\");\nvar Color_Intensity = global.get(\"Color_Intensity\");\nvar Hue = global.get(\"Hue\");\nvar OD280 = global.get(\"OD280\");\nvar Proline = global.get(\"Proline\");\n\nmsg.payload={\"fields\":[\"Alcohol\",\"Malic_Acid\",\"Ash\",\"Ash_Alcanity\",\"Magnesium\",\"Total_Phenols\",\"Flavanoids\",\"Nonflavanoid_Phenols\",\"Proanthocyanins\",\"Color_Intensity\",\"Hue\",\"OD280\",\"Proline\"],\"values\":[[Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":400,"wires":[["f9381675.691098"]]},{"id":"f53d0735.2637a8","type":"http request","z":"e321e60a.57ddc8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":250,"y":340,"wires":[["36b454e7.e533cc","202222bc.0b731e"]]},{"id":"f9381675.691098","type":"http request","z":"e321e60a.57ddc8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/a3e33d7f-f05a-4255-9e9a-7bfb357bfd33/deployments/edf5048e-9d7a-44ba-b075-67d3ea954c2e/online","tls":"","proxy":"","authType":"basic","x":530,"y":340,"wires":[["60a067b8.985158","89509c97.625a7"]]},{"id":"4264549d.80236c","type":"function","z":"e321e60a.57ddc8","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"76eae79b-45c1-4bd7-95e0-0cf03a495ce4\"\nvar password=\"9c0c668c-1b7b-4897-901a-9f0ec2e30ed1\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"Alcohol\", msg.payload.Alcohol)\nglobal.set(\"Malic_Acid\", msg.payload.Malic_Acid)\nglobal.set(\"Ash\", msg.payload.Ash)\nglobal.set(\"Ash_Alcanity\", msg.payload.Ash_Alcanity)\nglobal.set(\"Magnesium\", msg.payload.Magnesium)\nglobal.set(\"Total_Phenols\", msg.payload.Total_Phenols)\nglobal.set(\"Flavanoids\", msg.payload.Flavanoids)\nglobal.set(\"Nonflavanoid_Phenols\", msg.payload.Nonflavanoid_Phenols)\nglobal.set(\"Proanthocyanins\", msg.payload.Proanthocyanins)\nglobal.set(\"Color_Intensity\", msg.payload.Color_Intensity)\nglobal.set(\"Hue\", msg.payload.Hue)\nglobal.set(\"OD280\", msg.payload.Hue)\nglobal.set(\"Proline\", msg.payload.Proline)\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["f53d0735.2637a8"]]},{"id":"60a067b8.985158","type":"function","z":"e321e60a.57ddc8","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":400,"wires":[["239fa02c.78271"]]},{"id":"d10a81e7.cc3ce","type":"ui_form","z":"e321e60a.57ddc8","name":"","label":"Enter the values","group":"502b8204.c9a5ac","order":6,"width":0,"height":0,"options":[{"label":"Alcohol","value":"Alcohol","type":"number","required":true},{"label":"Malic_Acid","value":"Malic_Acid","type":"number","required":true},{"label":"Ash","value":"Ash","type":"number","required":true},{"label":"Ash_Alcanity","value":"Ash_Alcanity","type":"number","required":true},{"label":"Magnesium","value":"Magnesium","type":"number","required":true},{"label":"Total_Phenols","value":"Total_Phenols","type":"number","required":true},{"label":"Flavanoids","value":"Flavanoids","type":"number","required":true},{"label":"Nonflavanoid_Phenols","value":"Nonflavanoid_Phenols","type":"number","required":true},{"label":"Proanthocyanins","value":"Proanthocyanins","type":"number","required":true},{"label":"Color_Intensity","value":"Color_Intensity","type":"number","required":true},{"label":"Hue","value":"Hue","type":"number","required":true},{"label":"OD280","value":"OD280","type":"number","required":true},{"label":"Proline","value":"Proline","type":"number","required":true}],"formValue":{"Alcohol":"","Malic_Acid":"","Ash":"","Ash_Alcanity":"","Magnesium":"","Total_Phenols":"","Flavanoids":"","Nonflavanoid_Phenols":"","Proanthocyanins":"","Color_Intensity":"","Hue":"","OD280":"","Proline":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":240,"wires":[["4264549d.80236c"]]},{"id":"239fa02c.78271","type":"ui_text","z":"e321e60a.57ddc8","group":"502b8204.c9a5ac","order":7,"width":0,"height":0,"name":"Quality","label":"Quality","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":320,"wires":[]},{"id":"202222bc.0b731e","type":"debug","z":"e321e60a.57ddc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":280,"wires":[]},{"id":"89509c97.625a7","type":"debug","z":"e321e60a.57ddc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":615,"y":260,"wires":[],"l":false},{"id":"502b8204.c9a5ac","type":"ui_group","z":"","name":"Predict","tab":"8c15abe3.931a98","disp":false,"width":"12","collapse":false},{"id":"8c15abe3.931a98","type":"ui_tab","z":"","name":"Predicting Wine Quality","icon":"dashboard","disabled":false,"hidden":false}]