bank marketing/flows.json
[{"id":"8a600b87.1e9c88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5d467128.3901c","type":"inject","z":"8a600b87.1e9c88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"0.2","x":160,"y":80,"wires":[["fb1fe4b0.361f98"]]},{"id":"86e97b5f.cde9d8","type":"debug","z":"8a600b87.1e9c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":120,"wires":[]},{"id":"ab4426e2.2b3ea8","type":"function","z":"8a600b87.1e9c88","name":"Prediction","func":"var token=msg.payload.token;\nvar age=global.get(\"age\");\nvar job=global.get(\"job\");\nvar marital=global.get(\"marital\");\nvar housing=global.get(\"housing\");\nvar education=global.get(\"education\");\nvar loan=global.get(\"loan\");\nvar duration=global.get(\"duration\");\nvar campaign=global.get(\"campaign\");\nvar poutcome=global.get(\"poutcome\");\nvar previous=global.get(\"previous\");\nvar emp_var_rate=global.get(\"emp_var_rate\");\nvar cons_price_idx=global.get(\"cons_price_idx\");\nvar cons_conf_idx=global.get(\"cons_conf_idx\");\nvar  euribor3m =global.get(\"euribor3m\");\nvar nr_employed = global.get(\"nr_employed\");\n//var age=56;\n//var job=3;\n//var marital=1;\n//var housing=0;\n//var education=0;\n//var loan=0;\n//var duration=261;\n//var campaign=1;\n//var poutcome=1;\n//var previous=0;\n//var emp_var_rate=1.1;\n//var cons_price_idx=93.994;\n//var cons_conf_idx=-36.4;\n//var  euribor3m =4.857;\n//var nr_employed = 5191.0;\n//var Age=19;\n//var EstimatedSalary=20000;\nmsg.payload={\"fields\":[\"age\",\"job\",\"marital\",\"housing\",\"education\",\"loan\",\"duration\",\"campaign\",\"poutcome\",\"previous\",\"emp_var_rate\",\"cons_price_idx\",\"cons_conf_idx\",\"euribor3m\",\"nr_employed\"],\"values\":[[age,job,marital,housing,education,loan,duration,campaign,poutcome,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":460,"y":375,"wires":[["6b6e0a38.c85354"]]},{"id":"dc33f7e3.614548","type":"http request","z":"8a600b87.1e9c88","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":210,"y":300,"wires":[["c86920fe.a0a4","ab4426e2.2b3ea8"]]},{"id":"6b6e0a38.c85354","type":"http request","z":"8a600b87.1e9c88","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/61df5ae8-d865-4247-b7fa-76828eda4a09/deployments/650bf295-bcff-4b45-b146-438879c9e131/online","tls":"","proxy":"","authType":"basic","x":670,"y":260,"wires":[["48f90af7.d6b564"]]},{"id":"c86920fe.a0a4","type":"debug","z":"8a600b87.1e9c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":260,"wires":[]},{"id":"fb1fe4b0.361f98","type":"function","z":"8a600b87.1e9c88","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"49d7ea13-7fcb-4d6d-8acb-8b0a5e8527d5\";\nvar password=\"d21b00c1-2c62-41f8-9569-ca4f90ec1fca\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"job\",msg.payload.job)\nglobal.set(\"marital\",msg.payload.marital)\nglobal.set(\"education\",msg.payload.education)\nglobal.set(\"housing\",msg.payload.housing)\nglobal.set(\"loan\",msg.payload.loan)\nglobal.set(\"duration\",msg.payload.duration)\nglobal.set(\"campaign\",msg.payload.campaign)\nglobal.set(\"previous\",msg.payload.previous)\nglobal.set(\"poutcome\",msg.payload.poutcome)\nglobal.set(\"emp_var_rate\",msg.payload.emp_var_rate)\nglobal.set(\"cons_price_idx\",msg.payload.cons_price_idx)\nglobal.set(\"cons_conf_idx\",msg.payload.cons_conf_idx)\nglobal.set(\"euribor3m\",msg.payload.euribor3m)\nglobal.set(\"nr_employed\",msg.payload.nr_employed)\nreturn msg;\n","outputs":1,"noerr":0,"x":190,"y":180,"wires":[["dc33f7e3.614548"]]},{"id":"48f90af7.d6b564","type":"function","z":"8a600b87.1e9c88","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":180,"wires":[["86e97b5f.cde9d8","8385fe26.2ac7f"]]},{"id":"2c34567f.72bc2a","type":"ui_form","z":"8a600b87.1e9c88","name":"","label":"","group":"e8473a1.8b721c8","order":17,"width":0,"height":0,"options":[{"label":"Please enter age","value":"age","type":"number","required":true},{"label":"please enter job","value":"job","type":"number","required":true},{"label":"please enter marital status","value":"marital","type":"number","required":true},{"label":"please enter education","value":"education","type":"number","required":true},{"label":"please enter housing","value":"housing","type":"number","required":true},{"label":"please enter loan","value":"loan","type":"number","required":true},{"label":"please enter duration","value":"duration","type":"number","required":true},{"label":"please enter campaign","value":"campaign","type":"number","required":true},{"label":"please enter previous","value":"previous","type":"number","required":true},{"label":"please enter poutcome","value":"poutcome","type":"number","required":true},{"label":"please enter employ variation rate","value":"emp_var_rate","type":"number","required":true},{"label":"please enter consumer price index","value":"cons_price_idx","type":"number","required":true},{"label":"please enter consumer confidence index","value":"cons_conf_idx","type":"number","required":true},{"label":"please enter euribor3m","value":"euribor3m","type":"number","required":true},{"label":"please enter nr.employed","value":"nr_employed","type":"number","required":true}],"formValue":{"age":"","job":"","marital":"","education":"","housing":"","loan":"","duration":"","campaign":"","previous":"","poutcome":"","emp_var_rate":"","cons_price_idx":"","cons_conf_idx":"","euribor3m":"","nr_employed":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":798,"wires":[["edf62602.ed7648","1ede8cec.2e9533","fb1fe4b0.361f98","f2e861fc.9f2c9","dfd13aad.f6dfc8","e134b43c.926ca8","ba946723.709c28","96c52b23.987cd8","d74ecf58.edcd","c51180fc.6e0bc","57c8b8ad.aeeb78","fe8e5f05.a4e17","57eedef1.b55b9","cd8778cc.793308","ee32b2e8.c880f","d1d7dec9.48c0a"]]},{"id":"edf62602.ed7648","type":"ui_text","z":"8a600b87.1e9c88","group":"e8473a1.8b721c8","order":2,"width":0,"height":0,"name":"","label":"age","format":"{{msg.payload.age}}","layout":"row-spread","x":250,"y":420,"wires":[]},{"id":"1ede8cec.2e9533","type":"ui_text","z":"8a600b87.1e9c88","group":"e8473a1.8b721c8","order":3,"width":0,"height":0,"name":"","label":"job","format":"{{msg.payload.job}}","layout":"row-spread","x":250,"y":480,"wires":[]},{"id":"8385fe26.2ac7f","type":"ui_text","z":"8a600b87.1e9c88","group":"e8473a1.8b721c8","order":1,"width":0,"height":0,"name":"","label":"output","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":220,"wires":[]},{"id":"f2e861fc.9f2c9","type":"ui_text","z":"8a600b87.1e9c88","group":"e8473a1.8b721c8","order":4,"width":0,"height":0,"name":"","label":"marital","format":"{{msg.payload.marital}}","layout":"row-spread","x":250,"y":534,"wires":[]},{"id":"dfd13aad.f6dfc8","type":"ui_text","z":"8a600b87.1e9c88","group":"e8473a1.8b721c8","order":5,"width":0,"height":0,"name":"","label":"education","format":"{{msg.payload.education}}","layout":"row-spread","x":260,"y":600,"wires":[]},{"id":"e134b43c.926ca8","type":"ui_text","z":"8a600b87.1e9c88","group":"e8473a1.8b721c8","order":6,"width":0,"height":0,"name":"","label":"campaign","format":"{{msg.payload.campaign}}","layout":"row-spread","x":260,"y":654,"wires":[]},{"id":"ba946723.709c28","type":"ui_text","z":"8a600b87.1e9c88","group":"e8473a1.8b721c8","order":7,"width":0,"height":0,"name":"","label":"housing","format":"{{msg.payload.housing}}","layout":"row-spread","x":260,"y":700,"wires":[]},{"id":"96c52b23.987cd8","type":"ui_text","z":"8a600b87.1e9c88","group":"e8473a1.8b721c8","order":8,"width":0,"height":0,"name":"","label":"loan","format":"{{msg.payload.loan}}","layout":"row-spread","x":254,"y":760,"wires":[]},{"id":"d74ecf58.edcd","type":"ui_text","z":"8a600b87.1e9c88","group":"e8473a1.8b721c8","order":9,"width":0,"height":0,"name":"","label":"duration","format":"{{msg.payload.duration}}","layout":"row-spread","x":266,"y":820,"wires":[]},{"id":"c51180fc.6e0bc","type":"ui_text","z":"8a600b87.1e9c88","group":"e8473a1.8b721c8","order":10,"width":0,"height":0,"name":"","label":"previous","format":"{{msg.payload.previous}}","layout":"row-spread","x":270,"y":878,"wires":[]},{"id":"57c8b8ad.aeeb78","type":"ui_text","z":"8a600b87.1e9c88","group":"e8473a1.8b721c8","order":11,"width":0,"height":0,"name":"","label":"poutcome","format":"{{msg.payload.poutcome}}","layout":"row-spread","x":280,"y":960,"wires":[]},{"id":"fe8e5f05.a4e17","type":"ui_text","z":"8a600b87.1e9c88","group":"e8473a1.8b721c8","order":12,"width":0,"height":0,"name":"","label":"emp_var_rate","format":"{{msg.payload.emp_var_rate}}","layout":"row-spread","x":290,"y":1024,"wires":[]},{"id":"57eedef1.b55b9","type":"ui_text","z":"8a600b87.1e9c88","group":"e8473a1.8b721c8","order":13,"width":0,"height":0,"name":"","label":"cons_price_idx","format":"{{msg.payload.cons_price_idx}}","layout":"row-spread","x":310,"y":1100,"wires":[]},{"id":"cd8778cc.793308","type":"ui_text","z":"8a600b87.1e9c88","group":"e8473a1.8b721c8","order":14,"width":0,"height":0,"name":"","label":"cons_conf_idx","format":"{{msg.payload.cons_conf_idx}}","layout":"row-spread","x":320,"y":1160,"wires":[]},{"id":"ee32b2e8.c880f","type":"ui_text","z":"8a600b87.1e9c88","group":"e8473a1.8b721c8","order":15,"width":0,"height":0,"name":"","label":"euribor3m","format":"{{msg.payload.euribor3m}}","layout":"row-spread","x":310,"y":1220,"wires":[]},{"id":"d1d7dec9.48c0a","type":"ui_text","z":"8a600b87.1e9c88","group":"e8473a1.8b721c8","order":16,"width":0,"height":0,"name":"","label":"nr_employed","format":"{{msg.payload.nr_employed}}","layout":"row-spread","x":310,"y":1280,"wires":[]},{"id":"e8473a1.8b721c8","type":"ui_group","z":"","name":"enter values","tab":"7a9608bc.b74ab8","disp":true,"width":"6","collapse":false},{"id":"7a9608bc.b74ab8","type":"ui_tab","z":"","name":"deposit(y)","icon":"dashboard","disabled":false,"hidden":false}]