Car Resale prediction/Node Red Flow.txt
[{"id":"87573251.7e17d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9f44fd6f.a99e2","type":"inject","z":"87573251.7e17d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":160,"wires":[["c9e61862.b74ad8"]]},{"id":"b9e943fe.67c5f","type":"debug","z":"87573251.7e17d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":160,"wires":[]},{"id":"e96c2d07.88186","type":"function","z":"87573251.7e17d","name":"Prediction","func":"var token=msg.payload.token;\nvar abtest=global.get(\"abtest\");\nvar vehicleType=global.get(\"vehicleType\");\nvar yearOfRegistration=global.get(\"yearOfRegistration\");\nvar gearbox=global.get(\"gearbox\");\nvar powerPS=global.get(\"powerPS\");\nvar model=global.get(\"model\");\nvar kilometer=global.get(\"kilometer\");\nvar monthOfRegistration=global.get(\"monthOfRegistration\");\nvar fuelType=global.get(\"fuelType\");\nvar brand=global.get(\"brand\");\nvar notRepairedDamage=global.get(\"notRepairedDamage\");\nvar len_name=global.get(\"len_name\");\n//var abtest = 1;\n//var vehicleType = 7; \n//var yearOfRegistration = 2004;\n//var gearbox = 0;\n//var powerPS = 163;\n//var model = 119;\n//var kilometer = 125000; \n//var monthOfRegistration = 8;\n//var fuelType = 3;\n//var brand = 14;\n//var notRepairedDamage = 2;\n//var len_name = 30;\n\nmsg.payload={\"fields\":[\"abtest\",\"vehicleType\",\"yearOfRegistration\",\"gearbox\",\"powerPS\",\"model\",\"kilometer\",\"monthOfRegistration\",\"fuelType\",\"brand\",\"notRepairedDamage\",\"len_name\"],\"values\":[[abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,len_name]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":440,"wires":[["ba9bbfaf.24dc5"]]},{"id":"3162a21.8f1ba5e","type":"http request","z":"87573251.7e17d","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":270,"y":360,"wires":[["e96c2d07.88186"]]},{"id":"ba9bbfaf.24dc5","type":"http request","z":"87573251.7e17d","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/7eda804d-cd9f-42cf-a0f6-de44e03fa1d5/deployments/6d3413da-01fb-42d2-80c6-afe8471077d7/online","tls":"","proxy":"","authType":"basic","x":602,"y":323,"wires":[["acf38ede.7334"]]},{"id":"c9e61862.b74ad8","type":"function","z":"87573251.7e17d","name":"token generator","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"2547d2bf-4347-4c02-ac07-53ae05c9ab07\"\nvar password=\"73aee0a8-7da4-48b8-9e8c-5bed4bbb57c2\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"abtest\",msg.payload.abtest)\nglobal.set(\"vehicleType\",msg.payload.vehicleType)\nglobal.set(\"yearOfRegistration\",msg.payload.yearOfRegistration)\nglobal.set(\"gearbox\",msg.payload.gearbox)\nglobal.set(\"powerPS\",msg.payload.powerPS)\nglobal.set(\"model\",msg.payload.model)\nglobal.set(\"kilometer\",msg.payload.kilometer)\nglobal.set(\"monthOfRegistration\",msg.payload.monthOfRegistration)\nglobal.set(\"fuelType\",msg.payload.fuelType)\nglobal.set(\"brand\",msg.payload.brand)\nglobal.set(\"notRepairedDamage\",msg.payload.notRepairedDamage)\nglobal.set(\"len_name\",msg.payload.len_name)\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":260,"wires":[["3162a21.8f1ba5e"]]},{"id":"acf38ede.7334","type":"function","z":"87573251.7e17d","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":745,"y":402,"wires":[["53ed8749.61ec88"]]},{"id":"aaa74a81.74c608","type":"debug","z":"87573251.7e17d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":459,"y":242,"wires":[]},{"id":"5e67fa1a.c96ec4","type":"ui_form","z":"87573251.7e17d","name":"","label":"","group":"9a4a13fb.98b0b","order":0,"width":0,"height":0,"options":[{"label":"enter the abtest value","value":"abtest","type":"number","required":true},{"label":"enter the vehicle type","value":"vehicleType","type":"number","required":true},{"label":"enter the year of registration","value":"yearOfRegistration","type":"number","required":true},{"label":"enter the type of gearbox","value":"gearbox","type":"number","required":true},{"label":"enter the horse power","value":"powerPS","type":"number","required":true},{"label":"enter the model type","value":"model","type":"number","required":true},{"label":"enter the distance travelled","value":"kilometer","type":"number","required":true},{"label":"enter the month of registration","value":"monthOfRegistration","type":"number","required":true},{"label":"enter the fuel type","value":"fuelType","type":"number","required":true},{"label":"enter the brand","value":"brand","type":"number","required":true},{"label":"damage repair status","value":"notRepairedDamage","type":"number","required":true},{"label":"length of the vehicle name","value":"len_name","type":"number","required":true}],"formValue":{"abtest":"","vehicleType":"","yearOfRegistration":"","gearbox":"","powerPS":"","model":"","kilometer":"","monthOfRegistration":"","fuelType":"","brand":"","notRepairedDamage":"","len_name":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":55,"y":609,"wires":[["c9e61862.b74ad8","dc744ea6.975fa","4ff821ce.9246a","7dd29c5.6ce9364","8caf616d.e1f9c","88b507e.a2d78f8","8593eb79.b154e8","52a36fc0.2480b","1c1455ac.aeb3ba","2d31a337.77921c","9cbcb75e.114ae8","8b882375.d012d","ce099cb3.5d396"]]},{"id":"dc744ea6.975fa","type":"ui_text","z":"87573251.7e17d","group":"fb02a971.dee068","order":0,"width":0,"height":0,"name":"","label":"abtest","format":"{{msg.payload.abtest}}","layout":"row-spread","x":226,"y":432,"wires":[]},{"id":"4ff821ce.9246a","type":"ui_text","z":"87573251.7e17d","group":"528f971b.540b98","order":0,"width":0,"height":0,"name":"","label":"vehicleType","format":"{{msg.payload.vehicleType}}","layout":"row-spread","x":242,"y":492,"wires":[]},{"id":"8caf616d.e1f9c","type":"ui_text","z":"87573251.7e17d","group":"87d40ae8.acbc68","order":0,"width":0,"height":0,"name":"","label":"gearbox","format":"{{msg.payload.gearbox}}","layout":"row-spread","x":256,"y":602,"wires":[]},{"id":"9cbcb75e.114ae8","type":"ui_text","z":"87573251.7e17d","group":"a023de59.a688c","order":0,"width":0,"height":0,"name":"","label":"brand","format":"{{msg.payload.brand}}","layout":"row-spread","x":227,"y":935,"wires":[]},{"id":"7dd29c5.6ce9364","type":"ui_text","z":"87573251.7e17d","group":"35f5153d.db326a","order":0,"width":0,"height":0,"name":"","label":"yearOfRegistration","format":"{{msg.payload.yearOfRegistration}}","layout":"row-spread","x":273,"y":557,"wires":[]},{"id":"88b507e.a2d78f8","type":"ui_text","z":"87573251.7e17d","group":"f21430c4.3043d","order":0,"width":0,"height":0,"name":"","label":"powerPS","format":"{{msg.payload.powerPS}}","layout":"row-spread","x":252,"y":660,"wires":[]},{"id":"8593eb79.b154e8","type":"ui_text","z":"87573251.7e17d","group":"4da3966.c6fd368","order":0,"width":0,"height":0,"name":"","label":"model","format":"{{msg.payload.model}}","layout":"row-spread","x":231,"y":703,"wires":[]},{"id":"52a36fc0.2480b","type":"ui_text","z":"87573251.7e17d","group":"5fb8cf81.4a305","order":0,"width":0,"height":0,"name":"","label":"kilometer","format":"{{msg.payload.kilometer}}","layout":"row-spread","x":223,"y":766,"wires":[]},{"id":"2d31a337.77921c","type":"ui_text","z":"87573251.7e17d","group":"fe946b87.fa95e8","order":0,"width":0,"height":0,"name":"","label":"fuelType","format":"{{msg.payload.fuelType}}","layout":"row-spread","x":232,"y":893,"wires":[]},{"id":"1c1455ac.aeb3ba","type":"ui_text","z":"87573251.7e17d","group":"32910889.61ea78","order":0,"width":0,"height":0,"name":"","label":"monthOfRegistration","format":"{{msg.payload.monthOfRegistration}}","layout":"row-spread","x":282,"y":830,"wires":[]},{"id":"8b882375.d012d","type":"ui_text","z":"87573251.7e17d","group":"7406e050.71e9c","order":0,"width":0,"height":0,"name":"","label":"notRepairedDamage","format":"{{msg.payload.notRepairedDamage}}","layout":"row-spread","x":247,"y":979,"wires":[]},{"id":"ce099cb3.5d396","type":"ui_text","z":"87573251.7e17d","group":"2fcefed6.359e12","order":0,"width":0,"height":0,"name":"","label":"len_name","format":"{{msg.payload.len_name}}","layout":"row-spread","x":233,"y":1036,"wires":[]},{"id":"53ed8749.61ec88","type":"ui_text","z":"87573251.7e17d","group":"85f0daed.cbb908","order":0,"width":0,"height":0,"name":"","label":"price","format":"{{msg.payload}}","layout":"row-spread","x":702,"y":505,"wires":[]},{"id":"9a4a13fb.98b0b","type":"ui_group","z":"","name":"Default","tab":"f6773734.5b3688","disp":true,"width":"6","collapse":false},{"id":"fb02a971.dee068","type":"ui_group","z":"","name":"Default","tab":"f6773734.5b3688","disp":true,"width":"6","collapse":false},{"id":"528f971b.540b98","type":"ui_group","z":"","name":"Default","tab":"f6773734.5b3688","disp":true,"width":"6","collapse":false},{"id":"87d40ae8.acbc68","type":"ui_group","z":"","name":"Default","tab":"f6773734.5b3688","disp":true,"width":"6","collapse":false},{"id":"a023de59.a688c","type":"ui_group","z":"","name":"Default","tab":"f6773734.5b3688","disp":true,"width":"6","collapse":false},{"id":"35f5153d.db326a","type":"ui_group","z":"","name":"Default","tab":"f6773734.5b3688","disp":true,"width":"6","collapse":false},{"id":"f21430c4.3043d","type":"ui_group","z":"","name":"Default","tab":"f6773734.5b3688","disp":true,"width":"6","collapse":false},{"id":"4da3966.c6fd368","type":"ui_group","z":"","name":"Default","tab":"f6773734.5b3688","disp":true,"width":"6","collapse":false},{"id":"5fb8cf81.4a305","type":"ui_group","z":"","name":"Default","tab":"f6773734.5b3688","disp":true,"width":"6","collapse":false},{"id":"fe946b87.fa95e8","type":"ui_group","z":"","name":"Default","tab":"f6773734.5b3688","disp":true,"width":"6","collapse":false},{"id":"32910889.61ea78","type":"ui_group","z":"","name":"Default","tab":"f6773734.5b3688","disp":true,"width":"6","collapse":false},{"id":"7406e050.71e9c","type":"ui_group","z":"","name":"Default","tab":"f6773734.5b3688","disp":true,"width":"6","collapse":false},{"id":"2fcefed6.359e12","type":"ui_group","z":"","name":"Default","tab":"f6773734.5b3688","disp":true,"width":"6","collapse":false},{"id":"85f0daed.cbb908","type":"ui_group","z":"","name":"Default","tab":"f6773734.5b3688","disp":true,"width":"6","collapse":false},{"id":"f6773734.5b3688","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]