survival analysis of diabetes/node_red_flow.txt
[{"id":"73c38678.78be88","type":"inject","z":"bc378313.5e8e9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"0.2","x":100,"y":180,"wires":[["fe1eccd6.a513c"]]},{"id":"39979bde.8535f4","type":"debug","z":"bc378313.5e8e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":220,"wires":[]},{"id":"e65055c7.ad2c58","type":"function","z":"bc378313.5e8e9","name":"Prediction","func":"var token=msg.payload.token;\n//var Age=global.get(\"Age\");\n//var EstimatedSalary=global.get(\"EstimatedSalary\");\nvar Age=35;\nvar EstimatedSalary=20000;\nmsg.payload={\"fields\":[\"Age\",\"EstimatedSalary\"],\"values\":[[Age,EstimatedSalary]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":480,"wires":[["80fe5eb7.5a379"]]},{"id":"233059b1.0f33a6","type":"http request","z":"bc378313.5e8e9","name":"","method":"GET","ret":"obj","url":"https://us-south.ml.cloud.ibm.com/v3/identity/token","tls":"","x":170,"y":400,"wires":[["690b8596.229b1c","e65055c7.ad2c58"]]},{"id":"80fe5eb7.5a379","type":"http request","z":"bc378313.5e8e9","name":"","method":"POST","ret":"obj","url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/ea024272-816b-4cf4-9422-22ef0fadc401/deployments/181cc090-bf83-4ba8-80ac-3d853ce9d0e4/online","tls":"","x":630,"y":360,"wires":[["d5a4749f.e505b8"]]},{"id":"690b8596.229b1c","type":"debug","z":"bc378313.5e8e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":360,"wires":[]},{"id":"fe1eccd6.a513c","type":"function","z":"bc378313.5e8e9","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"ddcf32b9-d232-4ce7-ba68-102e383c86f6\"\nvar password=\"80b3ebf2-610e-44aa-974a-5458fc7efb76\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nreturn msg;\n","outputs":1,"noerr":0,"x":150,"y":280,"wires":[["233059b1.0f33a6"]]},{"id":"d5a4749f.e505b8","type":"function","z":"bc378313.5e8e9","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":280,"wires":[["39979bde.8535f4"]]}]