Churn_Modelling/flow2.json
[{"id":"5eb772f6.db4cdc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"812a022e.3504a","type":"inject","z":"5eb772f6.db4cdc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"0.2","x":100,"y":60,"wires":[["22b1ae8b.f55fa2"]]},{"id":"ff8488c1.533bf8","type":"function","z":"5eb772f6.db4cdc","name":"Prediction","func":"var token=msg.payload.token;\nvar CreditScore=global.get(\"CreditScore\");\nvar Gender=global.get(\"Gender\");\nvar Age=global.get(\"Age\");\nvar Tenure=global.get(\"Tenure\");\nvar Balance=global.get(\"Balance\");\nvar NumOfProducts=global.get(\"NumOfProducts\");\nvar HasCrCard=global.get(\"HasCrCard\");\nvar IsActiveMember=global.get(\"IsActiveMember\");\nvar EstimatedSalary=global.get(\"EstimatedSalary\");\nvar Geography_France=global.get(\"Geography_France\");\nvar Geography_Germany=global.get(\"Geography_Germany\");\nvar Geography_Spain=global.get(\"Geography_Spain\");\n//var CreditScore=699;\n//var Gender=0;\n//var Age=39;\n//var Tenure=1;\n//var Balance=0;\n//var NumOfProducts=2;\n//var HasCrCard=0;\n//var IsActiveMember=0;\n//var EstimatedSalary=93826;\n//var Geography_France=1;\n//var Geography_Germany=0;\n//var Geography_Spain=0;\nmsg.payload={\"fields\":[\"CreditScore\",\"Gender\",\"Age\",\"Tenure\",\"Balance\",\"NumOfProducts\",\"HasCrCard\",\"IsActiveMember\",\"EstimatedSalary\",\"Geography_France\",\"Geography_Germany\",\"Geography_Spain\"],\"values\":[[CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":385.7143859863281,"y":352.0000629425049,"wires":[["5485e732.1e7108"]]},{"id":"33b8729a.f9d5be","type":"http request","z":"5eb772f6.db4cdc","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":386,"y":194.00000667572021,"wires":[["ff8488c1.533bf8","fdd79b92.01dec8"]]},{"id":"5485e732.1e7108","type":"http request","z":"5eb772f6.db4cdc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/ce48286d-66bb-40f4-a3a4-474789936afe/deployments/6f3176bc-b615-4f51-91b1-9c6ca24908cc/online","tls":"","proxy":"","authType":"digest","x":561.5001220703125,"y":254.0000228881836,"wires":[["b33e2ff7.afb5f","3c8d5e96.35cb12"]]},{"id":"22b1ae8b.f55fa2","type":"function","z":"5eb772f6.db4cdc","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"5ae045a4-38ee-43fe-ba24-4d89b1b977dc\";\nvar password=\"7bc46b38-b05b-400f-b96c-b8520ae8576b\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"CreditScore\",msg.payload.CreditScore)\nglobal.set(\"Gender\",msg.payload.Gender)\nglobal.set(\"Age\",msg.payload.Age)\nglobal.set(\"Tenure\",msg.payload.Tenure)\nglobal.set(\"Balance\",msg.payload.Balance)\nglobal.set(\"NumOfProducts\",msg.payload.NumOfProducts)\nglobal.set(\"HasCrCard\",msg.payload.HasCrCard)\nglobal.set(\"IsActiveMember\",msg.payload.IsActiveMember)\nglobal.set(\"EstimatedSalary\",msg.payload.EstimatedSalary)\nglobal.set(\"Geography_France\",msg.payload.Geography_France)\nglobal.set(\"Geography_Germany\",msg.payload.Geography_Germany)\nglobal.set(\"Geography_Spain\",msg.payload.Geography_Spain)\nreturn msg;\n","outputs":1,"noerr":0,"x":150,"y":160,"wires":[["33b8729a.f9d5be"]]},{"id":"3c8d5e96.35cb12","type":"function","z":"5eb772f6.db4cdc","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":643.5003280639648,"y":68.75004577636719,"wires":[["b33e2ff7.afb5f","87eb3234.36ac7"]]},{"id":"dd3ff386.28d92","type":"ui_form","z":"5eb772f6.db4cdc","name":"","label":"Fill the form","group":"b0a09efe.e0552","order":2,"width":0,"height":0,"options":[{"label":"Please enter the customer's credit score","value":"CreditScore","type":"number","required":true},{"label":"Please enter 0 if customer is female, if not enter 1","value":"Gender","type":"number","required":true},{"label":"Please enter the customer's age","value":"Age","type":"number","required":true},{"label":"Please enter the customer's tenure","value":"Tenure","type":"number","required":true},{"label":"Please enter customer's Balance","value":"Balance","type":"number","required":true},{"label":"Please enter Number Of Products / Services ","value":"NumOfProducts","type":"number","required":true},{"label":"Please enter 1 if customer has credit card if not 0","value":"HasCrCard","type":"number","required":true},{"label":"Please enter 1 if the customer is active otherwise enter 0","value":"IsActiveMember","type":"number","required":true},{"label":"Please enter customer's estimated salary","value":"EstimatedSalary","type":"number","required":true},{"label":"Enter 1 if the customer's location is France, if not 0","value":"Geography_France","type":"number","required":true},{"label":"Enter 1 if the customer's location is Germany, if not 0","value":"Geography_Germany","type":"number","required":true},{"label":"Enter 1 if the customer's location is spain , if not 0","value":"Geography_Spain","type":"number","required":true}],"formValue":{"CreditScore":"","Gender":"","Age":"","Tenure":"","Balance":"","NumOfProducts":"","HasCrCard":"","IsActiveMember":"","EstimatedSalary":"","Geography_France":"","Geography_Germany":"","Geography_Spain":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":400,"wires":[["e0e0d9d4.c2c5c8","d78efc6c.a0b42","71b3e430.ead8dc","f8aa8e03.2875b","61f43119.c5e94","b322a055.45855","3c7813de.215f8c","e4df4176.fc2df","6862065f.3ca938","5a4d59ae.866428","131673b2.f23b8c","4ac54d0d.70b964","22b1ae8b.f55fa2"]],"outputLabels":["Exited"]},{"id":"d78efc6c.a0b42","type":"ui_text","z":"5eb772f6.db4cdc","group":"b0a09efe.e0552","order":5,"width":0,"height":0,"name":"","label":"Gender","format":"{{msg.payload.Gender}}","layout":"row-spread","x":345.25004959106445,"y":459.0000982284546,"wires":[]},{"id":"e0e0d9d4.c2c5c8","type":"ui_text","z":"5eb772f6.db4cdc","group":"b0a09efe.e0552","order":4,"width":0,"height":0,"name":"","label":"CreditScore","format":"{{msg.payload.CreditScore}}","layout":"row-spread","x":299.0000114440918,"y":416.00002574920654,"wires":[]},{"id":"2f085a31.9dbfa6","type":"ui_text","z":"5eb772f6.db4cdc","group":"b0a09efe.e0552","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1037.0002746582031,"y":157.00004768371582,"wires":[]},{"id":"71b3e430.ead8dc","type":"ui_text","z":"5eb772f6.db4cdc","group":"b0a09efe.e0552","order":6,"width":0,"height":0,"name":"Age","label":"Age","format":"{{msg.payload.Age}}","layout":"row-spread","x":337.7679443359375,"y":504.8572769165039,"wires":[]},{"id":"f8aa8e03.2875b","type":"ui_text","z":"5eb772f6.db4cdc","group":"b0a09efe.e0552","order":7,"width":0,"height":0,"name":"Tenure","label":"Tenure","format":"{{msg.payload.Tenure}}","layout":"row-spread","x":334.0179443359375,"y":548.5715656280518,"wires":[]},{"id":"61f43119.c5e94","type":"ui_text","z":"5eb772f6.db4cdc","group":"b0a09efe.e0552","order":8,"width":0,"height":0,"name":"Balance","label":"Balance","format":"{{msg.payload.Balance}}","layout":"row-spread","x":352.0179080963135,"y":590.8215675354004,"wires":[]},{"id":"b322a055.45855","type":"ui_text","z":"5eb772f6.db4cdc","group":"b0a09efe.e0552","order":9,"width":0,"height":0,"name":"NumOfProducts","label":"NumOfProducts","format":"{{msg.payload.NumOfProducts}}","layout":"row-spread","x":385.51790618896484,"y":640.5716047286987,"wires":[]},{"id":"3c7813de.215f8c","type":"ui_text","z":"5eb772f6.db4cdc","group":"b0a09efe.e0552","order":10,"width":0,"height":0,"name":"HasCrCard","label":"HasCrCard","format":"{{msg.payload.HasCrCard}}","layout":"row-spread","x":381.01790618896484,"y":689.3216066360474,"wires":[]},{"id":"e4df4176.fc2df","type":"ui_text","z":"5eb772f6.db4cdc","group":"b0a09efe.e0552","order":11,"width":0,"height":0,"name":"IsActiveMember","label":"IsActiveMember","format":"{{msg.payload.IsActiveMember}}","layout":"row-spread","x":379.0178680419922,"y":746.7857761383057,"wires":[]},{"id":"6862065f.3ca938","type":"ui_text","z":"5eb772f6.db4cdc","group":"b0a09efe.e0552","order":12,"width":0,"height":0,"name":"EstimatedSalary","label":"EstimatedSalary","format":"{{msg.payload.EstimatedSalary}}","layout":"row-spread","x":359.01790618896484,"y":788.0359182357788,"wires":[]},{"id":"5a4d59ae.866428","type":"ui_text","z":"5eb772f6.db4cdc","group":"b0a09efe.e0552","order":13,"width":0,"height":0,"name":"Geography_France","label":"Geography_France","format":"{{msg.payload.Geography_France}}","layout":"row-spread","x":411.5178909301758,"y":836.7859210968018,"wires":[]},{"id":"131673b2.f23b8c","type":"ui_text","z":"5eb772f6.db4cdc","group":"b0a09efe.e0552","order":14,"width":0,"height":0,"name":"Geography_Germany","label":"Geography_Germany","format":"{{msg.payload.Geography_Germany}}","layout":"row-spread","x":185.2678985595703,"y":840.3572115898132,"wires":[]},{"id":"4ac54d0d.70b964","type":"ui_text","z":"5eb772f6.db4cdc","group":"b0a09efe.e0552","order":15,"width":0,"height":0,"name":"Geography_Spain","label":"Geography_Spain","format":"{{msg.payload.Geography_Spain}}","layout":"row-spread","x":120.26795196533203,"y":773.6072118282318,"wires":[]},{"id":"fdd79b92.01dec8","type":"debug","z":"5eb772f6.db4cdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340.2142791748047,"y":106.28572082519531,"wires":[]},{"id":"b33e2ff7.afb5f","type":"debug","z":"5eb772f6.db4cdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":839.2144775390625,"y":211.28575992584229,"wires":[]},{"id":"87eb3234.36ac7","type":"switch","z":"5eb772f6.db4cdc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":817.3571624755859,"y":36.00000762939453,"wires":[["8a638e98.375b9"],["5929e2d0.160acc"]]},{"id":"8a638e98.375b9","type":"template","z":"5eb772f6.db4cdc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Customer Stays","output":"str","x":981.3571624755859,"y":18,"wires":[["2f085a31.9dbfa6"]]},{"id":"5929e2d0.160acc","type":"template","z":"5eb772f6.db4cdc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Customer Exits","output":"str","x":972.3571624755859,"y":63.00000762939453,"wires":[["2f085a31.9dbfa6"]]},{"id":"b0a09efe.e0552","type":"ui_group","z":"5eb772f6.db4cdc","name":"Churn Prediction","tab":"12de6021.9fa5e","disp":true,"width":"8","collapse":false},{"id":"12de6021.9fa5e","type":"ui_tab","z":"","name":"churnmodel","icon":"dashboard","disabled":false,"hidden":false}]