Churn_Modelling/flow1.json
[{"id":"8d302f92.65303","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"74cad74e.b81e48","type":"inject","z":"8d302f92.65303","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"0.2","x":80,"y":60,"wires":[["ce458a3a.91b158"]]},{"id":"32c53a27.5b91d6","type":"debug","z":"8d302f92.65303","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":603.7500381469727,"y":123.7500057220459,"wires":[]},{"id":"264a2ec1.657712","type":"function","z":"8d302f92.65303","name":"Prediction","func":"var token=msg.payload.token;\n//var Age=global.get(\"Age\");\n//var EstimatedSalary=global.get(\"EstimatedSalary\");\n//var CreditScore=global.get(\"CreditScore\");\n//var Gender=global.get(\"Gender\");\n//var Age=global.get(\"Age\");\n//var Tenure=global.get(\"Tenure\");\n//var Balance=global.get(\"Balance\");\n//var NumOfProducts=global.get(\"NumOfProducts\");\n//var HasCrCard=global.get(\"HasCrCard\");\n//var IsActiveMember=global.get(\"IsActiveMember\");\n//var EstimatedSalary=global.get(\"EstimatedSalary\");\n//var Geography_France=global.get(\"Geography_France\");\n//var Geography_Germany=global.get(\"Geography_Germany\");\n//var Geography_Spain=global.get(\"Geography_Spain\");\n//var CreditScore=619;\nvar CreditScore=699;\nvar Gender=0;\nvar Age=39;\nvar Tenure=1;\nvar Balance=0;\nvar NumOfProducts=2;\nvar HasCrCard=0;\nvar IsActiveMember=0;\nvar EstimatedSalary=93826;\nvar Geography_France=1;\nvar Geography_Germany=0;\nvar Geography_Spain=0;\n\n\n\nmsg.payload={\"fields\":[\"CreditScore\",\"Gender\",\"Age\",\"Tenure\",\"Balance\",\"NumOfProducts\",\"HasCrCard\",\"IsActiveMember\",\"EstimatedSalary\",\"Geography_France\",\"Geography_Germany\",\"Geography_Spain\"],\"values\":[[CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":387.00001525878906,"y":337.00001525878906,"wires":[["83f0d53d.e1ad38"]]},{"id":"3b083a5f.d341a6","type":"http request","z":"8d302f92.65303","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":150,"y":280,"wires":[["509acdd1.746304","264a2ec1.657712"]]},{"id":"83f0d53d.e1ad38","type":"http request","z":"8d302f92.65303","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/ce48286d-66bb-40f4-a3a4-474789936afe/deployments/6f3176bc-b615-4f51-91b1-9c6ca24908cc/online","tls":"","proxy":"","authType":"basic","x":621.2500610351562,"y":293.500031709671,"wires":[["7b8e91cb.27a46"]]},{"id":"509acdd1.746304","type":"debug","z":"8d302f92.65303","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":365.00001525878906,"y":216.00000953674316,"wires":[]},{"id":"ce458a3a.91b158","type":"function","z":"8d302f92.65303","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"5ae045a4-38ee-43fe-ba24-4d89b1b977dc\";\nvar password=\"7bc46b38-b05b-400f-b96c-b8520ae8576b\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nreturn msg;\n","outputs":1,"noerr":0,"x":130,"y":160,"wires":[["3b083a5f.d341a6"]]},{"id":"7b8e91cb.27a46","type":"function","z":"8d302f92.65303","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;\n","outputs":1,"noerr":0,"x":400.25016021728516,"y":82.50003814697266,"wires":[["32c53a27.5b91d6"]]}]