Forest Fire/TheHoplites_proj.txt
[{"id":"166c825c.128dae","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a5862589.eb2288","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"7f2eddf5.79e364","type":"ui_group","z":"","name":"Default","tab":"a5862589.eb2288","disp":true,"width":"6","collapse":false},{"id":"279895f3.813f9a","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bbb822b3.b89c","type":"ui_group","z":"","name":"predict","tab":"7d3c2e00.6b3344","disp":true,"width":"6","collapse":false},{"id":"7d3c2e00.6b3344","type":"ui_tab","z":"","name":"Predicting car purchase_ads","icon":"dashboard","disabled":false,"hidden":false},{"id":"733291c7.c9c73","type":"inject","z":"166c825c.128dae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"0.2","x":140,"y":160,"wires":[["8efcb2be.0d5f7"]]},{"id":"c4ad41b7.266c3","type":"debug","z":"166c825c.128dae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":200,"wires":[]},{"id":"a2d4f02a.f4225","type":"function","z":"166c825c.128dae","name":"Prediction","func":"var token=msg.payload.token;\n//var Age=global.get(\"Age\");\n//var EstimatedSalary=global.get(\"EstimatedSalary\");\nvar X=global.get(\"X\");\nvar Y=global.get(\"Y\");\nvar month=global.get(\"month\");\nvar day=global.get(\"day\");\nvar FFMC=global.get(\"FFMC\");\nvar DMC=global.get(\"DMC\");\nvar DC=global.get(\"DC\");\nvar ISI=global.get(\"ISI\");\nvar temp=global.get(\"temp\");\nvar RH=global.get(\"RH\");\nvar wind=global.get(\"wind\");\nvar rain=global.get(\"rain\");\nmsg.payload={\"fields\":[\"X\",\"Y\",\"month\",\"day\",\"FFMC\",\"DMC\",\"DC\",\"ISI\",\"temp\",\"RH\",\"wind\",\"rain\"],\"values\":[[X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":460,"wires":[["37493273.e04fce"]]},{"id":"ac160995.330028","type":"http request","z":"166c825c.128dae","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":210,"y":380,"wires":[["e77bc6f8.61e5a8","a2d4f02a.f4225"]]},{"id":"37493273.e04fce","type":"http request","z":"166c825c.128dae","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/268708c1-33fd-400e-80ff-cf424bfd2016/deployments/6b4764c4-7259-413d-bd9e-533d9a435fad/online","tls":"","proxy":"","authType":"basic","x":670,"y":340,"wires":[["fc2ea12b.57947"]]},{"id":"e77bc6f8.61e5a8","type":"debug","z":"166c825c.128dae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":340,"wires":[]},{"id":"8efcb2be.0d5f7","type":"function","z":"166c825c.128dae","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"e47a5576-7189-44b0-9fd8-e54e8c880589\"\nvar password=\"16d54b14-98c7-49ba-813d-1f6671c56602\"\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"X\",msg.payload.X)\nglobal.set(\"Y\",msg.payload.Y)\nglobal.set(\"month\",msg.payload.month)\nglobal.set(\"day\",msg.payload.day)\nglobal.set(\"FFMC\",msg.payload.FFMC)\nglobal.set(\"DMC\",msg.payload.DMC)\nglobal.set(\"DC\",msg.payload.DC)\nglobal.set(\"ISI\",msg.payload.ISI)\nglobal.set(\"temp\",msg.payload.temp)\nglobal.set(\"RH\",msg.payload.RH)\nglobal.set(\"wind\",msg.payload.wind)\nglobal.set(\"rain\",msg.payload.rain)\n\n\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":190,"y":260,"wires":[["ac160995.330028"]]},{"id":"fc2ea12b.57947","type":"function","z":"166c825c.128dae","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":260,"wires":[["b9ab829d.e5d8b"]]},{"id":"95c910be.a1dbb","type":"ui_form","z":"166c825c.128dae","name":"","label":"","group":"7f2eddf5.79e364","order":0,"width":0,"height":0,"options":[{"label":"Please enter X value=","value":"X","type":"number","required":true},{"label":"please enter Y value=","value":"Y","type":"number","required":true},{"label":"please enter month=","value":"month","type":"number","required":true},{"label":"please enter day","value":"day","type":"number","required":true},{"label":"please enter FFMC","value":"FFMC","type":"number","required":true},{"label":"please enter DMC","value":"DMC","type":"number","required":true},{"label":"please enter DC","value":"DC","type":"number","required":true},{"label":"please enter ISI","value":"ISI","type":"number","required":true},{"label":"please enter temparature","value":"temp","type":"number","required":true},{"label":"please enter RH","value":"RH","type":"number","required":true},{"label":"please enter wind","value":"wind","type":"number","required":true},{"label":"please enter rain","value":"rain","type":"number","required":true}],"formValue":{"X":"","Y":"","month":"","day":"","FFMC":"","DMC":"","DC":"","ISI":"","temp":"","RH":"","wind":"","rain":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":500,"wires":[["5287225d.ee8e4c","57ad752a.55489c","66581ee3.e058","4827f45e.1ef70c","fc4ffa86.666c08","9ad4e9fb.a47378","ffbdc35a.97585","bcc0daf4.038d18","f0eb7a7b.c00ca8","3f286e9a.e41292","be617f25.be85c","78a10e46.c2889","8efcb2be.0d5f7"]]},{"id":"5287225d.ee8e4c","type":"ui_text","z":"166c825c.128dae","group":"7f2eddf5.79e364","order":1,"width":0,"height":0,"name":"","label":"X","format":"{{msg.payload.X}}","layout":"row-spread","x":260,"y":520,"wires":[]},{"id":"57ad752a.55489c","type":"ui_text","z":"166c825c.128dae","group":"7f2eddf5.79e364","order":2,"width":0,"height":0,"name":"","label":"Y","format":"{{msg.payload.Y}}","layout":"row-spread","x":260,"y":600,"wires":[]},{"id":"b9ab829d.e5d8b","type":"ui_text","z":"166c825c.128dae","group":"7f2eddf5.79e364","order":3,"width":0,"height":0,"name":"","label":"area","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":440,"wires":[]},{"id":"66581ee3.e058","type":"ui_text","z":"166c825c.128dae","group":"7f2eddf5.79e364","order":4,"width":0,"height":0,"name":"","label":"month","format":"{{msg.payload.month}}","layout":"row-spread","x":280,"y":680,"wires":[]},{"id":"fc4ffa86.666c08","type":"ui_text","z":"166c825c.128dae","group":"7f2eddf5.79e364","order":5,"width":0,"height":0,"name":"","label":"day","format":"{{msg.payload.day}}","layout":"row-spread","x":260,"y":760,"wires":[]},{"id":"4827f45e.1ef70c","type":"ui_text","z":"166c825c.128dae","group":"7f2eddf5.79e364","order":6,"width":0,"height":0,"name":"","label":"FFMC","format":"{{msg.payload.FFMC}}","layout":"row-spread","x":120,"y":740,"wires":[]},{"id":"9ad4e9fb.a47378","type":"ui_text","z":"166c825c.128dae","group":"7f2eddf5.79e364","order":7,"width":0,"height":0,"name":"","label":"DMC","format":"{{msg.payload.DMC}}","layout":"row-spread","x":120,"y":800,"wires":[]},{"id":"ffbdc35a.97585","type":"ui_text","z":"166c825c.128dae","group":"7f2eddf5.79e364","order":8,"width":0,"height":0,"name":"","label":"DC","format":"{{msg.payload.DC}}","layout":"row-spread","x":280,"y":820,"wires":[]},{"id":"f0eb7a7b.c00ca8","type":"ui_text","z":"166c825c.128dae","group":"7f2eddf5.79e364","order":9,"width":0,"height":0,"name":"","label":"ISI","format":"{{msg.payload.ISI}}","layout":"row-spread","x":140,"y":900,"wires":[]},{"id":"bcc0daf4.038d18","type":"ui_text","z":"166c825c.128dae","group":"7f2eddf5.79e364","order":10,"width":0,"height":0,"name":"","label":"temp","format":"{{msg.payload.temp}}","layout":"row-spread","x":320,"y":920,"wires":[]},{"id":"be617f25.be85c","type":"ui_text","z":"166c825c.128dae","group":"7f2eddf5.79e364","order":11,"width":0,"height":0,"name":"","label":"RH","format":"{{msg.payload.RH}}","layout":"row-spread","x":120,"y":1000,"wires":[]},{"id":"3f286e9a.e41292","type":"ui_text","z":"166c825c.128dae","group":"7f2eddf5.79e364","order":12,"width":0,"height":0,"name":"","label":"wind","format":"{{msg.payload.wind}}","layout":"row-spread","x":320,"y":1000,"wires":[]},{"id":"78a10e46.c2889","type":"ui_text","z":"166c825c.128dae","group":"7f2eddf5.79e364","order":13,"width":0,"height":0,"name":"","label":"rain","format":"{{msg.payload.rain}}","layout":"row-spread","x":120,"y":1080,"wires":[]}]