HeartDisease_StrokePrediction/ML_Node_red_flow.txt
[{"id":"1082586c.96b8f8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"afcd4106.994ac","type":"inject","z":"1082586c.96b8f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"0.2","x":138,"y":38,"wires":[["56b05078.b762d"]]},{"id":"4af15ab6.b47574","type":"function","z":"1082586c.96b8f8","name":"Prediction","func":"var token=msg.payload.token;\nvar age=global.get(\"age\");\nvar sex=global.get(\"sex\");\nvar cp=global.get(\"cp\");\nvar chol=global.get(\"chol\");\nvar fbs=global.get(\"fbs\");\nvar thalach=global.get(\"thalach\");\nvar exang=global.get(\"exang\");\nvar slope=global.get(\"slope\");\nvar thal=global.get(\"thal\");\n//var age=56;\n//var sex=1;\n//var cp=1;\n//var chol=236;\n//var fbs=0;\n//var thalach=178;\n//var exang=0;\n//var slope=2;\n//var thal=2;\nmsg.payload={\"fields\":[\"age\",\"sex\",\"cp\",\"chol\",\"fbs\",\"thalach\",\"exang\",\"slope\",\"thal\"],\"values\":[[age,sex,cp,chol,fbs,thalach,exang,slope,thal]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":458,"y":338,"wires":[["e995de40.a31"]]},{"id":"8322b2cc.ba953","type":"http request","z":"1082586c.96b8f8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":288,"y":238,"wires":[["4af15ab6.b47574"]]},{"id":"e995de40.a31","type":"http request","z":"1082586c.96b8f8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/af714ef5-6af5-41c3-8dab-b46319e2491a/deployments/a76f0b24-66dd-4cef-be63-61b5c40829f5/online","tls":"","proxy":"","x":528,"y":218,"wires":[["2d12af25.41ea8"]]},{"id":"56b05078.b762d","type":"function","z":"1082586c.96b8f8","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"b29d5db5-61d8-4906-8a9a-e1b3eb32f2ad\"\nvar password=\"d07a44eb-6085-42bc-a725-1a5a6f0dc447\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"sex\",msg.payload.sex)\nglobal.set(\"cp\",msg.payload.cp)\nglobal.set(\"chol\",msg.payload.chol)\nglobal.set(\"fbs\",msg.payload.fbs)\nglobal.set(\"thalach\",msg.payload.thalach)\nglobal.set(\"exang\",msg.payload.exang)\nglobal.set(\"slope\",msg.payload.slope)\nglobal.set(\"thal\",msg.payload.thal)\nreturn msg;\n","outputs":1,"noerr":0,"x":188,"y":138,"wires":[["8322b2cc.ba953"]]},{"id":"2d12af25.41ea8","type":"function","z":"1082586c.96b8f8","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":616,"y":163,"wires":[["84949b2d.f18e48"]]},{"id":"84949b2d.f18e48","type":"ui_text","z":"1082586c.96b8f8","group":"f02e9173.c5233","order":7,"width":0,"height":0,"name":"","label":"Target","format":"{{msg.payload}}","layout":"row-spread","x":742,"y":325,"wires":[]},{"id":"f68b2154.9e3e2","type":"ui_text","z":"1082586c.96b8f8","group":"f02e9173.c5233","order":5,"width":0,"height":0,"name":"","label":"sex","format":"{{msg.payload.sex}}","layout":"row-spread","x":238,"y":535,"wires":[]},{"id":"35d0a300.4431be","type":"ui_text","z":"1082586c.96b8f8","group":"f02e9173.c5233","order":4,"width":0,"height":0,"name":"","label":"Age","format":"{{msg.payload.age}}","layout":"row-spread","x":238,"y":465,"wires":[]},{"id":"4cb19120.88349","type":"ui_form","z":"1082586c.96b8f8","name":"","label":"","group":"f02e9173.c5233","order":6,"width":0,"height":0,"options":[{"label":"Please enter the age","value":"age","type":"number","required":true},{"label":"Please enter sex","value":"sex","type":"number","required":true},{"label":"Please enter Chest_PainType","value":"cp","type":"number","required":true},{"label":"Please enter chol range","value":"chol","type":"number","required":true},{"label":"Please enter blood sugar value","value":"fbs","type":"number","required":true},{"label":"Please enter thalach","value":"thalach","type":"number","required":true},{"label":"Please enter exang range","value":"exang","type":"number","required":true},{"label":"Please enter slope range","value":"slope","type":"number","required":true},{"label":"Please enter thal value","value":"thal","type":"number","required":true}],"formValue":{"age":"","sex":"","cp":"","chol":"","fbs":"","thalach":"","exang":"","slope":"","thal":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":55,"y":374,"wires":[["35d0a300.4431be","f68b2154.9e3e2","b8c91f83.97586","78c6571a.0480c8","2ab8b1d6.4479ee","e81a5d74.e10ab","41ab3f06.d1ba5","614c5f92.9985f","d4305fe9.da2dc","56b05078.b762d"]]},{"id":"b8c91f83.97586","type":"ui_text","z":"1082586c.96b8f8","group":"f02e9173.c5233","order":3,"width":0,"height":0,"name":"","label":"cp","format":"{{msg.payload.cp}}","layout":"row-spread","x":239,"y":575,"wires":[]},{"id":"78c6571a.0480c8","type":"ui_text","z":"1082586c.96b8f8","group":"f02e9173.c5233","order":4,"width":0,"height":0,"name":"","label":"chol","format":"{{msg.payload.chol}}","layout":"row-spread","x":239,"y":613,"wires":[]},{"id":"2ab8b1d6.4479ee","type":"ui_text","z":"1082586c.96b8f8","group":"f02e9173.c5233","order":9,"width":0,"height":0,"name":"","label":"fbs","format":"{{msg.payload.fbs}}","layout":"row-spread","x":239,"y":654,"wires":[]},{"id":"e81a5d74.e10ab","type":"ui_text","z":"1082586c.96b8f8","group":"f02e9173.c5233","order":5,"width":0,"height":0,"name":"","label":"thalach","format":"{{msg.payload.thalach}}","layout":"row-spread","x":246,"y":694,"wires":[]},{"id":"41ab3f06.d1ba5","type":"ui_text","z":"1082586c.96b8f8","group":"f02e9173.c5233","order":6,"width":0,"height":0,"name":"","label":"exang","format":"{{msg.payload.exang}}","layout":"row-spread","x":238,"y":737,"wires":[]},{"id":"614c5f92.9985f","type":"ui_text","z":"1082586c.96b8f8","group":"f02e9173.c5233","order":7,"width":0,"height":0,"name":"","label":"slope","format":"{{msg.payload.slope}}","layout":"row-spread","x":238,"y":776,"wires":[]},{"id":"d4305fe9.da2dc","type":"ui_text","z":"1082586c.96b8f8","group":"f02e9173.c5233","order":8,"width":0,"height":0,"name":"","label":"thal","format":"{{msg.payload.thal}}","layout":"row-spread","x":234,"y":813,"wires":[]},{"id":"f02e9173.c5233","type":"ui_group","z":"","name":"Predict","tab":"bce6a797.088138","disp":true,"width":"6","collapse":false},{"id":"bce6a797.088138","type":"ui_tab","z":"1082586c.96b8f8","name":"Stroke Prediction for HeartDisease Person ","icon":"dashboard","disabled":false,"hidden":false}]