Breast Cancer/final project node red code 24-05-2019.txt
[{"id":"cbd0f126.85294","type":"inject","z":"4e417b0b.f301e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":133,"y":42,"wires":[["4973bf9a.7b7ad"]]},{"id":"4973bf9a.7b7ad","type":"function","z":"4e417b0b.f301e4","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"83505384-1431-466a-91d2-f871001c9a1f\"\nvar password=\"b7fd87ab-d9ef-4fba-bc2b-95269ce20eb2\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"radius_mean\",msg.payload.radius_mean);\nglobal.set(\"texture_mean\",msg.payload.texture_mean);\nglobal.set(\"smoothness_mean\",msg.payload.smoothness_mean);\nglobal.set(\"compactness_mean\",msg.payload.compactness_mean);\nglobal.set(\"concavity_mean\",msg.payload.concavity_mean);\nglobal.set(\"symmetry_mean\",msg.payload.symmetry_mean);\nglobal.set(\"radius_se\",msg.payload.radius_se);\nglobal.set(\"compactness_se\",msg.payload.compactness_se);\nglobal.set(\"concavity_se\",msg.payload.concavity_se);\nglobal.set(\"concave_points_se\",msg.payload.concave_points_se);\nglobal.set(\"radius_worst\",msg.payload.radius_worst);\nglobal.set(\"compactness_worst\",msg.payload.compactness_worst);\nglobal.set(\"concave_points_worst\",msg.payload.concave_points_worst);\nglobal.set(\"texture_worst\",msg.payload.texture_worst);\nglobal.set(\"smoothness_worst\",msg.payload.smoothness_worst);\nglobal.set(\"concavity_worst\",msg.payload.concavity_worst);\nglobal.set(\"symmetry_worst\",msg.payload.symmetry_worst);\nglobal.set(\"fractal_dimension_worst\",msg.payload.fractal_dimension_worst);\nreturn msg;\n","outputs":1,"noerr":0,"x":344,"y":47,"wires":[["ca45104f.91c4","4d81efb1.0151e"]]},{"id":"25b38d4e.fb51d2","type":"function","z":"4e417b0b.f301e4","name":"prediction","func":"var token=msg.payload.token;\nvar radius_mean=global.get(\"radius_mean\");\nvar texture_mean=global.get(\"texture_mean\");\nvar smoothness_mean=global.get(\"smoothness_mean\");\nvar compactness_mean=global.get(\"compactness_mean\");\nvar concavity_mean=global.get(\"concavity_mean\");\nvar symmetry_mean=global.get(\"symmetry_mean\");\nvar radius_se=global.get(\"radius_se\");\nvar compactness_se=global.get(\"compactness_se\");\nvar concavity_se=global.get(\"concavity_se\");\nvar concave_points_se=global.get(\"concave_points_se\");\nvar radius_worst=global.get(\"radius_worst\");\nvar compactness_worst=global.get(\"compactness_worst\");\nvar concave_points_worst=global.get(\"concave_points_worst\");\nvar texture_worst=global.get(\"texture_worst\");\nvar smoothness_worst=global.get(\"smoothness_worst\");\nvar concavity_worst=global.get(\"concavity_worst\");\nvar symmetry_worst=global.get(\"symmetry_worst\");\nvar fractal_dimension_worst=global.get(\"fractal_dimension_worst\");\n//var radius_mean=19.17\n//var texture_mean=24.8\n//var smoothness_mean=0.0974\n//var compactness_mean=0.2458\n//var concavity_mean=0.2065\n//var symmetry_mean=0.2397\n//var radius_se=0.9555\n//var compactness_se=0.08297\n//var concavity_se=0.0889\n//var concave_points_se=0.0409\n//var radius_worst=20.96\n//var compactness_worst=0.3903\n//var concave_points_worst=0.1767\n//var texture_worst=29.94\n//var smoothness_worst=0.1037\n//var concavity_worst=0.3639\n//var symmetry_worst=0.3176\n//var fractal_dimension_worst=0.1023\nmsg.payload={\"fields\":[\"radius_mean\",\"texture_mean\",\"smoothness_mean\",\"compactness_mean\",\"concavity_mean\",\"symmetry_mean\",\"radius_se\",\"compactness_se\",\"concavity_se\",\"concave_points_se\",\"radius_worst\",\"compactness_worst\",\"concave_points_worst\",\"texture_worst\",\"smoothness_worst\",\"concavity_worst\",\"symmetry_worst\",\"fractal_dimension_worst\"] ,\"values\":[[radius_mean,texture_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,radius_se,compactness_se,concavity_se,concave_points_se,radius_worst,compactness_worst,concave_points_worst,texture_worst,smoothness_worst,concavity_worst,symmetry_worst,fractal_dimension_worst]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;\n","outputs":1,"noerr":0,"x":533,"y":102,"wires":[["c858ef49.697ef","95ebc959.60a2f8"]]},{"id":"c858ef49.697ef","type":"http request","z":"4e417b0b.f301e4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/3af819fe-edc5-4157-90d4-e3e6bc1d97fc/deployments/e22f92e4-5897-43f7-8885-802d03f56a0e/online","tls":"","proxy":"","authType":"basic","x":724,"y":107,"wires":[["4cc0ec81.5102a4"]]},{"id":"ca45104f.91c4","type":"http request","z":"4e417b0b.f301e4","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":543,"y":42,"wires":[["25b38d4e.fb51d2"]]},{"id":"4d81efb1.0151e","type":"debug","z":"4e417b0b.f301e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":437,"y":179,"wires":[]},{"id":"95ebc959.60a2f8","type":"debug","z":"4e417b0b.f301e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":676,"y":178,"wires":[]},{"id":"4cc0ec81.5102a4","type":"function","z":"4e417b0b.f301e4","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":757.5,"y":248,"wires":[["4357eaaf.bf34c4"]]},{"id":"85652a79.e225e8","type":"ui_form","z":"4e417b0b.f301e4","name":"","label":"","group":"14853e08.34ab32","order":19,"width":0,"height":0,"options":[{"label":"radius_mean","value":"radius_mean_","type":"number","required":true},{"label":"texture_mean","value":"texture_mean","type":"number","required":true},{"label":"smoothness_mean","value":"smoothness_mean","type":"number","required":true},{"label":"compactness_mean","value":"compactness_mean","type":"number","required":true},{"label":"concavity_mean","value":"concavity_mean","type":"number","required":true},{"label":"symmetry_mean","value":"symmetry_mean","type":"number","required":true},{"label":"radius_se","value":"radius_se","type":"number","required":true},{"label":"compactness_se","value":"compactness_se","type":"number","required":true},{"label":"concavity_se","value":"concavity_se","type":"number","required":true},{"label":"concave_points_se","value":"concave_points_se","type":"number","required":true},{"label":"radius_worst","value":"radius_worst","type":"number","required":true},{"label":"compactness_worst","value":"compactness_worst","type":"number","required":true},{"label":"concave points_worst","value":"concave points_worst","type":"number","required":true},{"label":"texture_worst","value":"texture_worst","type":"number","required":true},{"label":"smoothness_worst","value":"smoothness_worst","type":"number","required":true},{"label":"concavity_worst","value":"concavity_worst","type":"number","required":true},{"label":"symmetry_worst","value":"symmetry_worst","type":"number","required":true},{"label":"fractal_dimension_worst","value":"fractal_dimension_worst","type":"number","required":true}],"formValue":{"radius_mean_":"","texture_mean":"","smoothness_mean":"","compactness_mean":"","concavity_mean":"","symmetry_mean":"","radius_se":"","compactness_se":"","concavity_se":"","concave_points_se":"","radius_worst":"","compactness_worst":"","concave points_worst":"","texture_worst":"","smoothness_worst":"","concavity_worst":"","symmetry_worst":"","fractal_dimension_worst":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":55,"y":100,"wires":[["4973bf9a.7b7ad","ca693b94.0246e8","a8290e17.18fc3","257cf1a1.7b00ce","f2b0556d.533018","cf8f07ac.8d4b28","815f9647.95eca8","c96b1d2a.a752d","33485b02.8137d4","4d0a039e.07720c","121d9575.374bbb","dcbf7ba2.6dcf58","bbb3f785.394c58","42a53ee3.1816","8748c4c9.ecbfa8","dd050b1f.029e98","3276c138.df209e","64bab4ec.a152fc","bf0dd12.af6d23"]]},{"id":"ca693b94.0246e8","type":"ui_text","z":"4e417b0b.f301e4","group":"14853e08.34ab32","order":20,"width":0,"height":0,"name":"","label":"radius_mean","format":"{{msg.payload.radius_mean}}","layout":"row-spread","x":238,"y":89,"wires":[]},{"id":"a8290e17.18fc3","type":"ui_text","z":"4e417b0b.f301e4","group":"14853e08.34ab32","order":21,"width":0,"height":0,"name":"","label":"texture_mean","format":"{{msg.payload.texture_mean}}","layout":"row-spread","x":252,"y":129,"wires":[]},{"id":"257cf1a1.7b00ce","type":"ui_text","z":"4e417b0b.f301e4","group":"14853e08.34ab32","order":22,"width":0,"height":0,"name":"","label":"smoothness_mean","format":"{{msg.payload.smoothness_mean}}","layout":"row-spread","x":257,"y":168,"wires":[]},{"id":"f2b0556d.533018","type":"ui_text","z":"4e417b0b.f301e4","group":"14853e08.34ab32","order":23,"width":0,"height":0,"name":"","label":"compactness_mean","format":"{{msg.payload.compactness_mean}}","layout":"row-spread","x":262,"y":207,"wires":[]},{"id":"cf8f07ac.8d4b28","type":"ui_text","z":"4e417b0b.f301e4","group":"14853e08.34ab32","order":24,"width":0,"height":0,"name":"","label":"concavity_mean","format":"{{msg.payload.concavity_mean}}","layout":"row-spread","x":256,"y":246,"wires":[]},{"id":"815f9647.95eca8","type":"ui_text","z":"4e417b0b.f301e4","group":"14853e08.34ab32","order":25,"width":0,"height":0,"name":"","label":"symmetry_mean","format":"{{msg.payload.symmetry_mean}}","layout":"row-spread","x":256,"y":284,"wires":[]},{"id":"c96b1d2a.a752d","type":"ui_text","z":"4e417b0b.f301e4","group":"14853e08.34ab32","order":26,"width":0,"height":0,"name":"","label":"radius_se","format":"{{msg.payload.radius_se}}","layout":"row-spread","x":265,"y":325,"wires":[]},{"id":"33485b02.8137d4","type":"ui_text","z":"4e417b0b.f301e4","group":"14853e08.34ab32","order":27,"width":0,"height":0,"name":"","label":"compactness_se","format":"{{msg.payload.compactness_se}}","layout":"row-spread","x":293,"y":363,"wires":[]},{"id":"4d0a039e.07720c","type":"ui_text","z":"4e417b0b.f301e4","group":"14853e08.34ab32","order":28,"width":0,"height":0,"name":"","label":"concavity_se","format":"{{msg.payload.concavity_se}}","layout":"row-spread","x":283,"y":403,"wires":[]},{"id":"121d9575.374bbb","type":"ui_text","z":"4e417b0b.f301e4","group":"14853e08.34ab32","order":29,"width":0,"height":0,"name":"","label":"concave_points_se","format":"{{msg.payload.concave_points_se}}","layout":"row-spread","x":287,"y":436,"wires":[]},{"id":"dcbf7ba2.6dcf58","type":"ui_text","z":"4e417b0b.f301e4","group":"14853e08.34ab32","order":30,"width":0,"height":0,"name":"","label":"radius_worst","format":"{{msg.payload.radius_worst}}","layout":"row-spread","x":271.1111111111111,"y":472.22222222222223,"wires":[]},{"id":"bbb3f785.394c58","type":"ui_text","z":"4e417b0b.f301e4","group":"14853e08.34ab32","order":31,"width":0,"height":0,"name":"","label":"compactness_worst","format":"{{msg.payload.compactness_worst}}","layout":"row-spread","x":297.77777777777777,"y":506.66666666666663,"wires":[]},{"id":"42a53ee3.1816","type":"ui_text","z":"4e417b0b.f301e4","group":"14853e08.34ab32","order":32,"width":0,"height":0,"name":"","label":"concave_points_worst","format":"{{msg.payload.concave_points_worst}}","layout":"row-spread","x":302.2222213745117,"y":539.9999542236328,"wires":[]},{"id":"8748c4c9.ecbfa8","type":"ui_text","z":"4e417b0b.f301e4","group":"14853e08.34ab32","order":33,"width":0,"height":0,"name":"","label":"texture_worst","format":"{{msg.payload.texture_worst}}","layout":"row-spread","x":285.5555610656738,"y":574.4444065093994,"wires":[]},{"id":"dd050b1f.029e98","type":"ui_text","z":"4e417b0b.f301e4","group":"14853e08.34ab32","order":34,"width":0,"height":0,"name":"","label":"smoothness_worst","format":"{{msg.payload.smoothness_worst}}","layout":"row-spread","x":101.1111068725586,"y":226.6666660308838,"wires":[]},{"id":"3276c138.df209e","type":"ui_text","z":"4e417b0b.f301e4","group":"14853e08.34ab32","order":35,"width":0,"height":0,"name":"","label":"concavity_worst","format":"{{msg.payload.concavity_worst}}","layout":"row-spread","x":98.88888549804688,"y":271.11111640930176,"wires":[]},{"id":"64bab4ec.a152fc","type":"ui_text","z":"4e417b0b.f301e4","group":"14853e08.34ab32","order":36,"width":0,"height":0,"name":"","label":"symmetry_worst","format":"{{msg.payload.symmetry_worst}}","layout":"row-spread","x":121.11111111111111,"y":310,"wires":[]},{"id":"bf0dd12.af6d23","type":"ui_text","z":"4e417b0b.f301e4","group":"14853e08.34ab32","order":37,"width":0,"height":0,"name":"","label":"fractal_dimension_worst","format":"{{msg.payload.fractal_dimension_worst}}","layout":"row-spread","x":126.66666666666667,"y":354.44444444444446,"wires":[]},{"id":"4357eaaf.bf34c4","type":"switch","z":"4e417b0b.f301e4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":654.9999923706055,"y":335.55554389953613,"wires":[["69eb4f74.ce25"],["c397349d.fed118"]]},{"id":"69eb4f74.ce25","type":"template","z":"4e417b0b.f301e4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"BENIGN","output":"str","x":825,"y":304.44444444444446,"wires":[["db4a4f1c.a264"]]},{"id":"c397349d.fed118","type":"template","z":"4e417b0b.f301e4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"MALIGNANT","output":"str","x":819.4444444444445,"y":365.55555555555554,"wires":[["db4a4f1c.a264"]]},{"id":"db4a4f1c.a264","type":"ui_text","z":"4e417b0b.f301e4","group":"14853e08.34ab32","order":38,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":444.44444444444446,"wires":[]},{"id":"14853e08.34ab32","type":"ui_group","z":"","name":"Prediction","tab":"9804d79f.a0fc28","disp":true,"width":"7","collapse":false},{"id":"9804d79f.a0fc28","type":"ui_tab","z":"","name":"Breast Cancer Prediction","icon":"dashboard","disabled":false,"hidden":false}]