TaxiFarePrediction/node_redcode.json
[{"id":"f04976d8.c00a48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"64dba63b.314c98","type":"inject","z":"f04976d8.c00a48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"0.2","x":300,"y":160,"wires":[["17c72af1.b89535"]]},{"id":"82ebf2b5.8f407","type":"function","z":"f04976d8.c00a48","name":"Prediction","func":"var token=msg.payload.token;\nvar year=global.get(\"year\");\nvar Month=global.get(\"Month\");\nvar dates=global.get(\"dates\");\nvar Week=global.get(\"Week\");\nvar distance=global.get(\"distance\");\nvar pickup_longitude=global.get(\"pickup_longitude\");\nvar pickup_latitude=global.get(\"pickup_latitude\");\nvar dropoff_longitude=global.get(\"dropoff_longitude\");\nvar dropoff_latitude=global.get(\"pickup_longitude\");\nvar passenger_count=global.get(\"passenger_count\");\nmsg.payload={\"fields\":[\"pickup_longitude\",\"pickup_latitude\",\"dropoff_longitude\",\"dropoff_latitude\",\"passenger_count\",\"year\",\"Month\",\"dates\",\"Week\",\"distance\"],\"values\":[[pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year,Month,dates,Week,distance]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":460,"wires":[["655c430b.10fa0c"]]},{"id":"628ceaba.59c654","type":"http request","z":"f04976d8.c00a48","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":370,"y":380,"wires":[["af3701b.3cc14","82ebf2b5.8f407"]]},{"id":"655c430b.10fa0c","type":"http request","z":"f04976d8.c00a48","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/d775906f-71a9-4b1d-8cbb-36d92955cb85/deployments/9f96c726-e518-46f0-a0c6-e3e905ad10d1/online","tls":"","proxy":"","authType":"basic","x":818.0000114440918,"y":395.0000057220459,"wires":[["17b41815.e8e4a8"]]},{"id":"af3701b.3cc14","type":"debug","z":"f04976d8.c00a48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":340,"wires":[]},{"id":"17c72af1.b89535","type":"function","z":"f04976d8.c00a48","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"0a962605-7f77-4c3e-aa51-5e01dbff014b\"\nvar password=\"9ac63199-6856-4502-9b29-51736a05ea9c\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"passenger_count\",msg.payload.passenger_count);\nglobal.set(\"year\",msg.payload.year);\nglobal.set(\"Month\",msg.payload.Month);\nglobal.set(\"dates\",msg.payload.dates);\nglobal.set(\"Week\",msg.payload.Week);\nglobal.set(\"distance\",msg.payload.distance);\nglobal.set(\"pickup_longitude\",msg.payload.pickup_longitude);\nglobal.set(\"pickup_latitude\",msg.payload.pickup_latitude);\nglobal.set(\"dropoff_longitude\",msg.payload.dropoff_longitude);\nglobal.set(\"dropoff_latitude\",msg.payload.dropoff_latitude);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["628ceaba.59c654"]]},{"id":"17b41815.e8e4a8","type":"function","z":"f04976d8.c00a48","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":835.0000114440918,"y":448.0000066757202,"wires":[["6e1af7d5.a72a48","82670dc8.d976e"]]},{"id":"d1cebe68.3c745","type":"ui_form","z":"f04976d8.c00a48","name":"","label":"","group":"4e118b40.63f334","order":0,"width":0,"height":0,"options":[{"label":"passenger_count","value":"passenger_count","type":"number","required":true},{"label":"year","value":"year","type":"number","required":true},{"label":"Month","value":"Month","type":"number","required":true},{"label":"dates","value":"dates","type":"number","required":true},{"label":"Week","value":"Week","type":"number","required":true},{"label":"distance","value":"distance","type":"number","required":true},{"label":"pickup_longitude\t","value":"pickup_longitude","type":"number","required":true},{"label":"pickup_latitude","value":"pickup_latitude","type":"number","required":true},{"label":"dropoff_longitude","value":"dropoff_longitude","type":"number","required":true},{"label":"dropoff_latitude","value":"dropoff_latitude","type":"number","required":true}],"formValue":{"passenger_count":"","year":"","Month":"","dates":"","Week":"","distance":"","pickup_longitude":"","pickup_latitude":"","dropoff_longitude":"","dropoff_latitude":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":81.50001335144043,"y":652.0000076293945,"wires":[["4cabc3bd.9ef12c","db3fa592.5afb78","a63a556f.005518","ea3b8b2e.924f68","fae2b011.e9dc3","f9a74f2c.92129","4d7e24a2.b66bcc","3f0f2709.2b0778","3f90069c.82e7fa","85cd48e9.aae508","17c72af1.b89535"]]},{"id":"6e1af7d5.a72a48","type":"debug","z":"f04976d8.c00a48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":808.1000518798828,"y":521.0000085830688,"wires":[]},{"id":"4cabc3bd.9ef12c","type":"ui_text","z":"f04976d8.c00a48","group":"4e118b40.63f334","order":1,"width":0,"height":0,"name":"","label":"passenger_count","format":"{{msg.payload.passenger_count}}","layout":"row-spread","x":377.1000518798828,"y":483.00000762939453,"wires":[]},{"id":"db3fa592.5afb78","type":"ui_text","z":"f04976d8.c00a48","group":"4e118b40.63f334","order":2,"width":0,"height":0,"name":"","label":"year","format":"{{msg.payload.year}}","layout":"row-spread","x":337.1000061035156,"y":537,"wires":[]},{"id":"a63a556f.005518","type":"ui_text","z":"f04976d8.c00a48","group":"4e118b40.63f334","order":3,"width":0,"height":0,"name":"","label":"Month","format":"{{msg.payload.Month}}","layout":"row-spread","x":329.1000061035156,"y":577,"wires":[]},{"id":"ea3b8b2e.924f68","type":"ui_text","z":"f04976d8.c00a48","group":"4e118b40.63f334","order":4,"width":0,"height":0,"name":"","label":"dates","format":"{{msg.payload.dates}}","layout":"row-spread","x":334.1000061035156,"y":633,"wires":[]},{"id":"4d7e24a2.b66bcc","type":"ui_text","z":"f04976d8.c00a48","group":"4e118b40.63f334","order":7,"width":0,"height":0,"name":"","label":"pickup_longitude","format":"{{msg.payload.pickup_longitude}}","layout":"row-spread","x":387.1000556945801,"y":790.0000324249268,"wires":[]},{"id":"3f0f2709.2b0778","type":"ui_text","z":"f04976d8.c00a48","group":"4e118b40.63f334","order":8,"width":0,"height":0,"name":"","label":"pickup_latitude","format":"{{msg.payload.pickup_latitude}}","layout":"row-spread","x":372.1000556945801,"y":849.0000324249268,"wires":[]},{"id":"3f90069c.82e7fa","type":"ui_text","z":"f04976d8.c00a48","group":"4e118b40.63f334","order":9,"width":0,"height":0,"name":"","label":"dropoff_longitude","format":"{{msg.payload.dropoff_longitude}}","layout":"row-spread","x":390.1000556945801,"y":899.0000343322754,"wires":[]},{"id":"f9a74f2c.92129","type":"ui_text","z":"f04976d8.c00a48","group":"4e118b40.63f334","order":6,"width":0,"height":0,"name":"","label":"distance","format":"{{msg.payload.distance}}","layout":"row-spread","x":346.1000556945801,"y":748.0000324249268,"wires":[]},{"id":"fae2b011.e9dc3","type":"ui_text","z":"f04976d8.c00a48","group":"4e118b40.63f334","order":5,"width":0,"height":0,"name":"","label":"Week","format":"{{msg.payload.Week}}","layout":"row-spread","x":316.1000061035156,"y":678,"wires":[]},{"id":"85cd48e9.aae508","type":"ui_text","z":"f04976d8.c00a48","group":"4e118b40.63f334","order":10,"width":0,"height":0,"name":"","label":"dropoff_latitude","format":"{{msg.payload.dropoff_latitude}}","layout":"row-spread","x":387.1000556945801,"y":948.0000343322754,"wires":[]},{"id":"82670dc8.d976e","type":"ui_text","z":"f04976d8.c00a48","group":"4e118b40.63f334","order":11,"width":0,"height":0,"name":"","label":"Predicted_Fare_amount","format":"{{msg.payload}}","layout":"row-spread","x":972.0999755859375,"y":265,"wires":[]},{"id":"4e118b40.63f334","type":"ui_group","z":"","name":"Please enter the values below to get the prediction","tab":"e76261e6.a89eb","disp":true,"width":"6","collapse":false},{"id":"e76261e6.a89eb","type":"ui_tab","z":"","name":"Taxi Fare Prediction","icon":"dashboard","disabled":false,"hidden":false}]